android_I/AV1IagodaSilva/*.iml
android_I/AV1IagodaSilva/.gradle
android_I/AV1IagodaSilva/local.properties
android_I/AV1IagodaSilva/.idea
android_I/AV1IagodaSilva/.DS_Store
android_I/AV1IagodaSilva/build
android_I/AV1IagodaSilva/captures
android_I/AV1IagodaSilva/.externalNativeBuild
